* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("/images/calci_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-left: -470px;
    margin-top: 220px;
    transform: rotate(8deg);
    background-color: black;
    height: 67vh;
    width: 15vw;
    border-radius: 45px;
    box-shadow: 7px 7px #505F4E;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.top-bar {

    height: 12px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.flat {
    background: linear-gradient(darkgray, black);
    height: 1vh;
    width: 3vw;
    border-radius: 3px;
}

.camera {
    background: linear-gradient(blue, black);
    background-color: blue;
    border-radius: 50%;
    height: 1vh;
    width: 0.5vw;
}

.time-icons {
    margin-top: -8px;
    color: white;
    height: 2vh;
    width: 80%;
    font-size: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-radius: 45px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

#time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    color: white;
    font-weight: 600;
}

.input {
    margin: 8px auto;
    width: 95%;
    height: 5vh;
    color: white;
    text-align: end;
    font-size: 2.5rem;
    background: transparent;
    border: none;
    margin-top: 80px;
    padding-right: 20px;
}

.input:focus {
    outline: none
}

.row-container {

    margin: 0 10px;
    height: 42vh;
    width: 95%;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    display: grid;
    justify-content: center;
}

.row button {
    margin: 0 4px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    transition: height 0.4s ease-in-out, width 0.4s ease-in-out;
}

.row {
    display: flexbox;
    flex-direction: column;
    padding: 10px 0;
}

.row .big-btn {
    padding: 0 18px;
    font-size: 1.5rem;
    text-align: start;
    border-radius: 50px;
    width: 90px;
}

.row .big-btn:hover {
    width: 85px;
}

.row button:hover {
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.orange-color {
    background-color: orange;
    color: white;
}

.gray-color {
    background-color: rgb(167, 166, 166);
}

.dark-gray-color {
    background-color: gray;
}

.bottom {
    margin-top: 10px;
    margin-bottom: 2px;
    height: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: end;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.horizontal-bar {
    height: 0.5vh;
    width: 40%;
    background-color: white;
    border-radius: 20px;
}

@media only screen and (max-width: 500px) {

    .container {
        width: 85vw;
        height: 80vh;
        transform: rotate(0);
        margin: 0px auto;
        border-radius: 70px;
        padding: 0;

    }

    .top-bar {
        height: 5vh;
        width: 50%;
        margin: 10px auto;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 2px;
        /* background-color: gray; */


    }

    .flat {
        background: linear-gradient(darkgray, black);
        height: 1vh;
        width: 20vw;
        border-radius: 3px;
    }

    .camera {
        background: linear-gradient(black);
        border-radius: 50%;
        height: 2vh;
        width: 5vw;
    }

    .inside-cam {
        background-color: blue;
        border-radius: 50%;
        height: 1vh;
        width: 2vw;
        margin: 5px auto 0 auto;
    }

    .time-icons {
        padding: 2px 20px;
        color: white;
        height: 4vh;
        width: 95%;
        font-size: 0.8rem;
        display: flex;
        justify-content: space-between;
        /* background-color: gray; */
        margin: 0 30px;
    }

    #time {
        font-size: 0.8rem;
        color: white;
        font-weight: 600;
    }

    .input {

        margin: 30px 5px;
        width: 95%;
        height: 10vh;
        color: white;
        text-align: end;
        font-size: 2.2rem;
        background-color: transparent;
        border: none;
        padding: 0 10px;
        margin-top: 50px;
        /* background-color: gray; */

    }

    .input:focus {
        outline: none
    }

    .row-container {
        /* background-color: gray; */
        border: 2px solid black;
        height: 53vh;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
        padding: 0 17px;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-top: 8px;
    }

    .row button {
        margin: 0 5px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        font-size: 1.2rem;
        font-weight: 600;
        transition: height 0.4s ease-in-out, width 0.4s ease-in-out;
    }

    .row {
        display: flexbox;
        flex-direction: column;
        padding: 10px 0;
    }

    .row .big-btn {
        border-radius: 50px;
        width: 112px;
    }

    .row .big-btn:hover {
        width: 105px;
    }

    .row button:hover {
        cursor: pointer;
        height: 45px;
        width: 45px;
    }


    .horizontal-bar {
        height: 0.5vh;
        width: 35%;
        margin: 0 auto;
        margin-bottom: 10px;
        background-color: white;
        border-radius: 20px;
    }




}